body, p {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p, pre {
  margin-left: 27%;
  margin-right: 27%;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

pre {
  background-color: gray;
  font-size: 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}