html {
  width: 100vw; /* scroll bars don't affect window size */
  overflow-x: hidden;
}

body, p {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: lightblue;
  font-size: 16px;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}

p, pre, .link {
  margin-left: 27%;
  margin-right: 27%;
}

p {
  line-height: 1.6;
}

pre {
  background-color: gray;
  font-size: 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  margin-left: 27%;
  margin-right: 27%;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/* mobile device support */
@media screen and (max-width: 800px) {
  p, body, pre, ul {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 3vw;
  }
}

.link a {
  padding: 0;
  overflow: hidden;
  display: block;
  color: rgb(85, 85, 85);
  text-align: left;
  text-decoration: underline;
}

.link:hover a {
  color:rgb(144, 0, 201)
}